@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  /* Colors */
  --grays-black: #000000;
  
  --accents-indigo: #6155f5;
  --accents-green: #34c759;
  
  --schemes-on-surface: #1d1b20;
  --schemes-primary-container: #dde1ff;
  --schemes-surface-container: #f3edf7;
  --schemes-secondary: #625b71;
  --schemes-surface-container-highest: #e6e0e9;
  --schemes-surface-container-high: #ece6f0;
  --schemes-on-surface-variant: #49454f;
  
  --schemes-primary: #6750a4;
  --schemes-on-primary: #ffffff;
  --schemes-error-container: #ffdad6;
  --schemes-on-primary-container: #4f378a;
  
  --schemes-surface: #fef7ff;
  --schemes-outline-variant: #cac4d0;
  --schemes-secondary-container: #dfe1f9;
  --schemes-inverse-on-surface: #f2f0f7;
  --schemes-inverse-surface: #2f3036;
  --schemes-surface-container-low: #f7f2fa;
  
  /* Typography - Static/Title Large */
  --title-large-font: 'Roboto', sans-serif;
  --title-large-size: 22px;
  --title-large-weight: 400;
  --title-large-line-height: 28px;
  --title-large-tracking: 0px;

  /* Typography - Static/Display Medium */
  --display-medium-font: 'Roboto', sans-serif;
  --display-medium-size: 45px;
  --display-medium-weight: 400;
  --display-medium-line-height: 52px;
  --display-medium-tracking: 0px;

  /* Typography - Static/Label Large */
  --label-large-font: 'Roboto', sans-serif;
  --label-large-size: 14px;
  --label-large-weight: 500;
  --label-large-line-height: 20px;
  --label-large-tracking: 0.1px;

  /* Typography - Static/Body Large */
  --body-large-font: 'Roboto', sans-serif;
  --body-large-size: 16px;
  --body-large-weight: 400;
  --body-large-line-height: 24px;
  --body-large-tracking: 0.5px;
  
  /* Typography - Static/Title Medium */
  --title-medium-font: 'Roboto', sans-serif;
  --title-medium-size: 16px;
  --title-medium-weight: 500;
  --title-medium-line-height: 24px;
  --title-medium-tracking: 0.15px;
  
  /* Effects */
  --elevation-light-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--grays-black);
  color: var(--schemes-on-surface);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
