.desktop {
  background-color: var(--grays-black);
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1920px;
  height: 1080px;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  pointer-events: none;
}

.gradientOverlay {
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background-image: linear-gradient(180deg, rgba(97, 85, 245, 0.48) 0%, rgba(52, 199, 89, 0.48) 100%), linear-gradient(90deg, rgb(97, 85, 245) 0%, rgb(97, 85, 245) 100%);
  opacity: 0.8; /* Adjusted for aesthetic feel */
}

.navigationHandleContainer {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--schemes-primary-container);
  height: 24px;
  width: 352px;
  border-radius: 30px;
}

.navigationHandle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--schemes-on-surface);
  height: 4px;
  width: 108px;
  border-radius: 12px;
}
